<html>
    <head>
        <title>Cucina d'Italia</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    
    </head>

    <body>
        <p class = "scritte2">Prima di tutto realizzate un piccolo lievitino con 100 gr di farine miscelate insieme, 100 gr di acqua e il lievito.

            Mescolate bene fino ad ottenere un composto molliccio. Coprite con una pellicola e lasciate lievitare per 1 h finché non si formano le bollicine.
            
            Poi aggiungete al lievitino il resto delle farine, lo zucchero, il resto dell’acqua, mescolate bene oppure impastate con planetaria. Quando l’impasto è compatto, aggiungete a poco a poco l’olio, al fine di incordare velocemente ovvero ottenere una palla elastica.
            
            Infine aggiungete il sale, impastate ancora, formate una palla, riponete in un contenitore e lasciate lievitare con pellicola per 3 h circa fino a quando non triplicherà di volume!
            
            Rompete la lievitazione e rovesciate l’impasto su un piano di lavoro.
            
            Senza aggiungere altra farina ( non sarà necessario) dividete in pezzi
            
            da 60 gr  per  mini burger buns
            
            oppure 100 – 110 gr per burger buns classici
            
            Arrotondate ogni pallina sul piano di lavoro con il palmo della mano, fino ad ottenere una superficie liscia: </p>
        <div class = "immagini">
            <div>
                <img src = "{{url_for('static', filename='images/preparazionehamburger.jpg')}}" class = "immagini">
                
            </div>
            <div>
                <img src = "{{url_for('static', filename='images/preparazionehamburger2.jpg')}}" class = "immagini">
                
            </div>
        </div>
        <a href="/"><h3 class = "scritte">HOME</h3></a>
    </body>
</html>