<html>
    <head>
        <title>Cucina d'Italia</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    
    </head>

    <body>
        <p class = "scritte2">A – Versate il riso in un recipiente e sciacquatelo abbondantemente con l’acqua, mescolandolo con una mano. Eliminate l’acqua reclinando lentamente la terrina. Questa operazione serve a pulire il riso dalle impurità che si trovano sulla sua superficie e che conferirebbero un sapore cattivo dopo la cottura. Durante i primi lavaggi l’acqua apparirà di colore bianco latte, e mano a mano che il riso si pulirà diventerà limpida. 

            B – Continuate a sciacquare e scolare il riso fino a quando l’acqua non sarà trasparente. Questa operazione serve per eliminare l’amido dal riso e renderlo più leggero. Lasciate, quindi, scolare il riso in un colino.
            
            A – Per prima cosa desquamate bene il pesce fresco. Prendete un foglio di carta, appoggiatevi il pesce e iniziate a desquamare con un coltello, senza dimenticare i bordi delle pinne.

            B – Lavate il pesce sotto l’acqua corrente oppure dentro una ciotola riempita d’acqua, facendo attenzione a raccogliere le squame, perché potrebbero creare problemi allo scarico del lavandino. 
            
            C – Evisceratelo e pulitelo. Ricordate che il pesce di media o piccola grandezza va tenuto sempre per la testa. </p>
        <div class = "immagini">
            <div>
                <img src = "{{url_for('static', filename='images/preparazionesushi.jpg')}}" class = "immagini">
                
            </div>
            <div>
                <img src = "{{url_for('static', filename='images/preparazionesushi2.jpg')}}" class = "immagini">
                
            </div>
        </div>
        <a href="/"><h3 class = "scritte">HOME</h3></a>
    </body>
</html>